Sphinx==4.5.0
sphinx-book-theme==0.3.3
sphinx-copybutton==0.5.1
sphinx-rtd-theme==1.1.1
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib.applehelp==1.0.3
docrep==0.3.2
docutils==0.16
numpydoc==1.5.0
pdoc==12.3.0
pybtex-docutils==1.0.2
myst-nb==0.17.1
myst-parser==0.18.1
torch==1.11.0
torchmetrics==0.11.0
git+https://github.com/NKI-CCB/sobolev_alignment
